nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  position: absolute;
  width: 100vw;
  height: 64px;

  .name, .navigations {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin: 1rem;
  }
}