@import './variables.scss';

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $beige;
  color: $black;

  position: fixed;
  height: 100vh;
  width: 90px;

  button {
    height: 45px;
    width: 45px;

    i {
      transition-duration: 200ms;
    }

    &:hover i {
      font-size: xx-large;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    font-size: larger;
  }
}

.App {
  font-weight: bold;
  color: $black;

  h1 {
    font-size: 5rem;
    margin: 0;
  }

  p {
    margin: 0;
  }

  i {
    font-size: 4rem;
    margin: 2rem;
    transition-duration: 200ms;
    color: $black;

    &:hover {
      color: $beige;
    }
  }

  .page {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 90px;
  }

  #home {
    .text {
      display: flex;
      flex-direction: column;
      color: $black;
  
      p {
        font-size: 30px;
        margin-bottom: 0;
      }
    }
  }
  
  #about {
    flex-direction: column;

    .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50vw;

      h1 {
        align-self: flex-start;
      }

      .bio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border: 3px solid $beige;
          border-radius: 50%;
          margin-right: 2rem;
          transition-duration: 200ms;
  
          &:hover {
            filter: grayscale(100%);
            box-shadow: 3px 3px $beige;
          }
        }
    
        .intro {
          font-size: larger;
        }
      }
    }

    .skills {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      i {
        margin-bottom: 0;
      }
    }
  }

  #projects {
    flex-direction: column;

    h1 {
      width: 70vw;
    }

    .projects-list {
      margin-top: 1rem;
      overflow: auto;
      white-space: nowrap;
      width: 70vw;

      div {
        display: inline-block;
        margin: 1rem;

        .project-description {
          display: flex;
          flex-direction: column;
          width: 30vw;
          background-color: $beige;
          border-radius: 10px;
          padding: 2rem;
          transition-duration: 200ms;

          &:hover h2 {
            text-decoration: underline;
          }

          h2 {
            margin-top: 0;
            white-space: normal;
          }

          p {
            white-space: normal;
          }
        }

        .stack-list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          padding: 0;
          margin-bottom: 0;

          .stack-list-item {
            background-color: $green;
            border-radius: 30px;
            margin: 0.25rem;
            padding: 0.5rem 1rem;
            transition-duration: 200ms;

            &:hover {
              background-color: $beige;
              color: $white;
            }
          }
        }
    
        img {
          position: relative;
          bottom: 30px;
          left: 130px;
          height: 250px;
          border-radius: 10px;
          filter: grayscale(70%);
          transition-duration: 300ms;
          z-index: 1;

          &:hover {
            filter: grayscale(0%);
          }
        }
      }
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    background-color: transparent;
  }

  #home {
    width: 80vw;

    .text {
      display: flex;
      flex-direction: column;
      margin-left: 90px;
    }
  }

  #about {
    .about-container {
      min-width: 80vw;

      .skills {
        margin-left: 10vw;
        margin-right: 10vw;
      }
    }
  }

  #projects {
    img {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: 10%;
    top: 0;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      height: 10%;
    }
  }

  .page {
    margin-left: 0 !important;
  }

  #about {
    .skills {
      width: 80vw;
    }
  }

  #projects {
    h1 {
      margin-left: 1rem;
    }

    .project-description {
      width: 50vw !important;
    }
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 3rem !important;
  }

  #home {
    width: auto;
    .text {
      margin: 2rem;
    }
  }

  #about {
    img {
      display: none;
    }

    .skills {
      margin-top: 1rem;

      i {
        margin: 1rem;
        font-size: 2rem;
      }
    }
  }

  #projects {
    .projects-list {
      width: 95vw !important;

      .project-description {
        width: 100% !important;
        padding: 0 !important;
        background-color: transparent !important;
      }

      .stack-list-item {
        background-color: $beige!important;
      }
    }
  }

  #contact {
    div {
      margin: 2rem 2rem 0 2rem;
    }

    .links {
      display: flex;

      i {
        margin: 1rem;
        font-size: 2rem;
      }
    }
  }
}