@import './variables.scss';

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $beige;
  color: $black;

  position: fixed;
  height: 100vh;
  width: 90px;
  z-index: 1;

  button {
    height: 45px;
    width: 45px;

    i {
      transition-duration: 200ms;
    }

    &:hover i {
      font-size: xx-large;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    font-size: larger;
  }
}

.App {
  text-align: center;

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #home {
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border: 3px solid $beige;
      border-radius: 50%;
      margin-right: 2rem;
      transition-duration: 200ms;
    }
    
    .text {
      display: flex;
      flex-direction: column;
      text-align: left;
      color: $black;
      font-weight: bold;
  
      h1 {
        font-size: 60px;
        margin: 0;
      }
  
      p {
        margin-bottom: 0;
      }
    }
  }
}
