@import './variables.scss';

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $beige;
  color: $black;

  position: fixed;
  height: 100vh;
  width: 90px;

  button {
    height: 45px;
    width: 45px;

    i {
      transition-duration: 200ms;
    }

    &:hover i {
      font-size: xx-large;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    font-size: larger;
  }
}

.App {
  font-weight: bold;
  color: $black;

  h1 {
    font-size: 70px;
    margin: 0;
  }

  p {
    margin: 0;
  }

  i {
    font-size: 60px;
    margin: 2rem;
    transition-duration: 200ms;
    color: $black;

    &:hover {
      color: $beige;
    }
  }

  .page {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 90px;
  }

  #home {
    .text {
      display: flex;
      flex-direction: column;
      color: $black;
  
      h1 {
        font-size: 150px;
        margin: 0;
      }
  
      p {
        font-size: 30px;
        margin-bottom: 0;
      }
    }
  }
  
  #about {
    display: flex;
    flex-direction: column;

    .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        align-self: flex-start;
      }
    }

    .bio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 60vw;
      
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: 3px solid $beige;
        border-radius: 50%;
        margin-right: 2rem;
        transition-duration: 200ms;

        &:hover {
          filter: grayscale(100%);
          box-shadow: 3px 3px $beige;
        }
      }
  
      .intro {
        font-size: larger;
      }
    }
  }

  #projects {
    display: flex;
    flex-direction: column;

    .projects-list {
      margin-top: 1rem;
      overflow: auto;
      white-space: nowrap;
      width: 70vw;

      div {
        display: inline-block;
        padding: 1rem;
        margin: 1rem;

        .project-description {
          display: flex;
          flex-direction: column;
          width: 30vw;
          background-color: $beige;
          border-radius: 10px;
          padding: 2rem;
          transition-duration: 200ms;

          &:hover h2 {
            text-decoration: underline;
          }

          h2 {
            margin-top: 0;
          }

          p {
            word-break: break-word;
            white-space: normal;
          }
        }

        .stack-list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          padding: 0;
          margin-bottom: 0;

          .stack-list-item {
            background-color: $green;
            border-radius: 30px;
            margin: 0.25rem;
            padding: 0.5rem 1rem;
            transition-duration: 200ms;

            &:hover {
              background-color: $beige;
              color: $white;
            }
          }
        }
    
        img {
          position: relative;
          bottom: 40px;
          left: 130px;
          height: 250px;
          border-radius: 10px;
          filter: grayscale(70%);
          transition-duration: 300ms;
          z-index: 1;

          &:hover {
            filter: grayscale(0%);
          }
        }
      }
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
  }
}
